<div class="container col-md-4 col-md-offset-1">
  <h1>Create a new Course</h1>
  <div class="well form-group">

    <%= form_for @course do |f| %>
      <p>
        <%= f.label :name, "Course name:" %><br>
        <%= f.text_field :name, class:"form-control" %>
      </p>
      <p>
        <%= f.label :description %><br>
        <%= f.text_area :description, class:"form-control" %>
      </p>
      <p>
        <%= f.button "Create a Course", class: 'btn btn-info' %>

      </p>
    <% end %>
  </div>
</div>